@use './index.scss' as * ;
@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;800&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    // font sizes:
    @for $i from 1 through length($steps-fs) {
        $step: nth($steps-fs, $i);
        $power: $i - $default-index-fs;
        $min: $min-fs * math.pow($ratio-min, $power);
        $max: $max-fs * math.pow($ratio-max, $power);
        --fs-#{$step}: #{clamped($min, $max)};
    }

    // font weights:
    @each $step, $weight in $font-weights {
        --fw-#{$step}: #{$weight};
    }
    
    // padding
    @each $side in $gutter-units {
        @each $level, $space in $gutter {
            --padding-#{$side}-#{$level}: #{$space};
        }
    }

    // margin
    @each $side in $gutter-units {
        @each $level, $space in $gutter {
            --margin-#{$side}-#{$level}: #{$space};
        }
    }

    // gap
    @each $level, $space in $gutter {
            --gap-#{$level}: #{$space};
    }

    // line heights:
    @each $step, $height in $line-heights {
        --lh-#{$step}: #{$height};
    }

    // line length:
    @each $step, $length in $measure {
        --measure-#{$step}: #{$length};
    }
}

body, html {
    overflow-x: hidden;
}

body {
    background-color: $neutral-lightest;
    font-family: $font-family-serif;
    text-align: center;
}

h1, 
h2, 
h3 {
    line-height: var(--lh-xxs);
}

h1 {
    color: $neutral-lightest;
    font-size: var(--fs-800);
    letter-spacing: 0.25ch;
    text-transform: uppercase;
    margin-block: var(--gap-xl);
}

h2 {
    font-size: var(--fs-700);
    font-weight: 900;
}

h3 {
    color: $neutral-lighter;
    font-size: calc(var(--fs-400) * 1.2);
    font-weight: var(--fw-900);
    text-transform: uppercase;
    letter-spacing: .4ch;
    margin-block-start: 3.5em;
}

p {
    font-family: $font-family-sans;
    font-size: var(--fs-500);
    color: $neutral-lighter;
    max-width: var(--measure-medium);
    margin: 0 auto;
    line-height: var(--lh-m);
}

header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
}


li {
    list-style-type: none;
    margin-right: 1em;
    max-width: var(--measure-medium);
}








